:host {
    display: flex;
    justify-content: center;
    margin: 15% 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card {
    background-color: #e7e7e7;
}

.user-logo {
    margin-left: auto;
    margin-right: auto;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: center;
}